header {
    background-color: #f6fff8;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid #228075;
    padding: 20px;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    color: #4e4e4e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    max-width: 100%;
}

input {
    width: 100%;
    margin: 10px 5px;
    display: block;
    padding: 3px;
    font-size: 18px;
    border: 1px solid #cce3de;
    border-radius: 5px;
    background-color: #f6fff825;
}

button[type=submit] {
    width: 100%;
    margin: 10px 5px;
    display: block;
    color: #eee;
    background-color: #2a9d8f;
    transition: all 0.5s;
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
}

button[type=submit]:hover {
    background-color: #228075;
}

.logo {
    padding-left: 25px;
}

.control {
    padding-right: 25px;
}

.btn {
    display: inline-block;
    padding: 6px 10px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #fff;
    text-decoration: none;
    color: #4e4e4e;
    transition: all 0.5s;
    box-sizing: border-box;
}

.btn-green {
    color: #eee;
    background-color: #2a9d8f;
}

.btn-green:hover {
    background-color:#228075;
}

.btn-green-white {
    border: 1px solid #2a9d8f;
    color: #2a9d8f;
    background-color: #eee;
}

.btn-green-white:hover {
    background-color: #fff;
}

.btn-red {
    color: #eee;
    background-color: #d90429;
}

.btn-red:hover {
    background-color: #b10322;
}

.btn-transparent {
    background-color: transparent;
}

.btn-transparent:hover {
    background-color: transparent;
}

.error {
    color: #d90429;
    font-size: 16px;
    margin: 0;
}

.success {
    color: #2a9d8f;
    font-size: 16px;
    margin: 0;
}